{% extends 'blog/base.html' %}

{% block content %}
{% include 'includes/team_nav_empty.html' %}
	<br>
	<br>
			
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
    	<h4 class="text-white black_bg shadow-style">Change Password</h4>
      <form method="post" class="black_bg shadow-style">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-secondary">Change password</button>
      </form>
    </div>
  </div>
{% endblock %}