{% extends 'blog/base.html' %}


{% block content %}
{% include 'includes/team_nav_empty.html' %}
	<br>
	<br>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card black_bg  shadow-style">
        <div class="card-body black_bg">
          <h3 class="card-title">Reset your password</h3>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form method="post">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-secondary btn-block">Send password reset email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}